#ifndef __SETTINGS_H
#define __SETTINGS_H

const char *SSID = "YourSSIDHere";
const char *PASSWORD = "YourPSKHere";

const char *MDNS_NAME = "MDNSNameHere";
const char *OTA_PASSWORD = "OTAPasswordHere";

#endif
